.members-modal {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;

  &__exit-button {
    cursor: pointer;
    position: absolute;
    right: 0;
  }

  &__title {
    color: #34495e;
    font-size: 2rem;
    font-weight: 800;
    margin-top: 1rem;
    text-align: center;
    text-transform: uppercase;
  }
}
