.members-modal {
  position: relative;

  &__exit-button {
    cursor: pointer;
    position: absolute;
    right: 0;
  }

  &__title {
    color: #34495e;
    font-size: 2rem;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
  }

  ::-webkit-scrollbar {
    width: 0.9375rem;
  }

  ::-webkit-scrollbar-track {
    border-radius: 0.625rem;
    box-shadow: inset 0 0 5px #808080;
  }

  ::-webkit-scrollbar-thumb {
    background: #34495e;
    border-radius: 0.625rem;
  }
}
