.add-section-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  &__exit-button {
    position: absolute;
    right: 0;
    cursor: pointer;
  }

  &__title {
    text-transform: uppercase;
    font-size: 2rem;
    color: #34495e;
    font-weight: 800;
  }

  &__info-text {
    font-size: 0.625rem;
    margin-top: -0.5rem;
    color: #0288d1;
    margin-bottom: 1rem;
  }
}
