.manage-task-modal {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;

  &__exit-button {
    cursor: pointer;
    position: absolute;
    right: 0;
  }

  &__title {
    color: #34495e;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: 800;
    text-transform: uppercase;
  }

  &__select {
    margin-bottom: 1rem;
    width: 80%;
  }

  ::-webkit-scrollbar {
    width: 0.625rem;
  }

  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #808080;
  }

  ::-webkit-scrollbar-thumb {
    background: #34495e;
  }
}
